@import url("https://fonts.googleapis.com/css2?family=family=Amatic+SC&display=swap");
:root {
--primary-color: #1B98E0;
--secondary-color: #59c3c3;
--text-dark: #333;
--text-light: #ebebeb;
--primary-font: Arial, Helvetica,sans-serif;
--secondary-font: 'Poppins', sans-serif;
}

img {
   max-width: 100%;
}

body {
 margin: 0;
}

header {
 background-color: var(--primary-color)
}

main {
 padding: 20px;
 max-width: 960px;
}

.separator {
 margin: 15px 0 15px 0;
 width: 100vw;
 position: relative; 
 left: 50%;
 transform: translateX(-50%);
 border: 1px solid var(--secondary-color);
}

/*Header styles*/
.logo-title {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 gap: 10px;
 font-family: var(--secondary-font);
 font-size: 1.25em;
}

.logo-title img {
 max-width: 70px;
}

/*Search bar styles*/
#search-form {
 display: flex;
 width: 100%;
}

#search-bar {
 flex-grow: 1;
 padding: 0.5rem;
 font-size: 1rem;
 border: 1px solid #ccc;
 border-radius: 4px 0 0 4px;
 border-color: var(--secondary-color);
}

#search-form button {
 border: 1px;
 border-radius: 0 4px 4px 0;
 border-color: var(--secondary-color);
 background-color: var(--secondary-color);
}

#search-form button img {
 height: 20px;
 width: auto;
 padding: 2px
}

/* Recipe card styles*/
.recipe-card {
 display: flex;
 padding: 20px;
 flex-direction: column;
 border: 1px solid;
 border-radius: 10px;
 border-color: var(--secondary-color);
}

.recipe-card h2 {
 font-family: var(--secondary-font)
}

.categories {
 margin-top: 10px;
}

.category {
 display: inline-block;
 border: 1px solid var(--secondary-color);
 padding: 5px;
 font-size: 1rem;
}

.recipe-name {
 margin-bottom: 0;
}

.description {
 display: none;
}

/*Footer styles*/
footer {
 display: flex; /* Enable Flexbox */
 flex-direction: column;
 text-align: center;
 background-color: var(--primary-color);
 padding: 20px;
}

.social-media {
 display: flex; /* Enable Flexbox */
 justify-content: center;
 gap: 10px;
}

.social-media img {
 width: 60px;
 height: auto;
}

p a {
 text-decoration: none;
 color: black;
}

/*Media queries for large screens*/
@media (min-width: 600px) {
 .recipe-card {
   flex-direction: row;
 }
 
 .recipe-card img {
   margin-right: 10px;
   max-width: 300px;
 }
 
 .categories {
   margin-top: 0;
 }
 
 .description {
   display: block;
 }
 
 footer {
   flex-direction: row-reverse;
   justify-content: space-between;
 }
}

@media (min-width: 960px) {
 main {
   margin: 0 auto;
 }
}